@import url(https://fonts.googleapis.com/css?family=Lato:400);
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.heading-primary {
  font-size: 1rem;
  padding: 0.1em;
  text-align: center;
  margin-right: 20px;
}

.heading-secondary {
  font-size: 1.5em;
  text-align: center;
  margin-right: 20px;
}
.accordion dl,
.accordion-list {
  border: 1px solid #fff;
}
.accordion dl:after,
.accordion-list:after {
  content: '';
  display: block;
  height: 1em;
  width: 97%;
  background-color: #fff;
}
.accordion dd,
.accordion__panel {
  background-color: #fff;
  font-size: 1em;
  line-height: 1.5em;
}
.accordion p {
  padding: 0em 4em 1em 0em;
}
.accordion {
  position: relative;
  /* background-color: #eee; */
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 0 2em 0;
}
.accordionTitle,
.accordion__Heading {
  background-color: #38cc70;
  text-align: center;
  font-weight: 700;
  margin-right: 30px;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #30bb64;
}
.accordionTitle:before,
.accordion__Heading:before {
  content: '+';
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  transition: transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #2ba659;
}
.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #2ba659;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  transform: rotate(-225deg);
}

/* CHANGING COLOR OF OPSTI INSTITUTI */
.accordionOpsti {
  background-color: #b71540;
  text-align: center;
  font-weight: 700;
  margin-right: 30px;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #9c1237;
}
.accordionOpsti:before {
  content: '+';
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  transition: transform 0.3s ease-in-out;
}
.accordionOpsti:hover {
  background-color: #6d0d27;
}
.accordionOpstiActive,
.accordionOpsti.is-expanded {
  background-color: #72102a;
}
.accordionOpstiActive:before,
.accordionOpsti.is-expanded:before {
  transform: rotate(-225deg);
}

/* ENDING OF OPSTI */

/* CHANGING COLOR OF NADLEZNOST */
.accordionJurisdiction {
  background-color: #079992;
  text-align: center;
  font-weight: 700;
  margin-right: 30px;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #088680;
}
.accordionJurisdiction:before {
  content: '+';
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  transition: transform 0.3s ease-in-out;
}
.accordionJurisdiction:hover {
  background-color: #07726d;
}
.accordionJurisdictionActive,
.accordionJurisdiction.is-expanded {
  background-color: #046661;
}
.accordionJurisdictionActive:before,
.accordionJurisdiction.is-expanded:before {
  transform: rotate(-225deg);
}

/* ENDING OF JURISDICTION */

.accordionItem {
  height: auto;
  overflow: hidden;
  transition: max-height 1s;
}
@media screen and (min-width: 48em) {
  .accordionItem {
    transition: max-height 0.5s;
  }
}
.accordionItem.is-collapsed {
  max-height: 0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
  animation: accordionIn 0.45s normal ease-in-out both 1;
}
.animateOut {
  animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}
li {
  margin-bottom: 2.8em;
}

dd {
  margin-inline-start: 0.5em !important;
}
/*  */

/* STICKY BAR */
/* body {
  font-family: 'Century Gothic', 'Lato', sans-serif;
} */
a {
  text-decoration: none;
}
.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  background: #fff;
  /* text-align: center; */
  padding: 0 0;
  padding-top: 50px;
}
.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  /* letter-spacing: 1rem; */
}
.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}
.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}
.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  /* letter-spacing: 0.1rem; */
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.et-hero-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}
.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66b1f1;
  transition: left 0.3s ease;
}
/* @media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 0.8rem;
  }
  .et-hero-tab {
    font-size: 1rem;
  }
} */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 2rem;
    letter-spacing: normal;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 0.8rem;
  }
  .et-hero-tab {
    font-size: 0.6rem;
  }
}
