@import url(https://fonts.googleapis.com/css?family=Lato:400);
* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato';
}
.heading-primary {
  font-size: 2em;
  padding: 0.1em;
  text-align: center;
}

.heading-secondary {
  font-size: 1.5em;
  text-align: center;
}
.accordion dl,
.accordion-list {
  border: 1px solid #ddd;
}
.accordion dl:after,
.accordion-list:after {
  content: '';
  display: block;
  height: 1em;
  width: 100%;
  background-color: #2ba659;
}
.accordion dd,
.accordion__panel {
  background-color: #eee;
  font-size: 1em;
  line-height: 1.5em;
}
.accordion p {
  padding: 0em 4em 1em 0em;
}
.accordion {
  position: relative;
  background-color: #eee;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 0 2em 0;
}
.accordionTitle,
.accordion__Heading {
  background-color: #38cc70;
  text-align: center;
  font-weight: 700;
  margin-right: 30px;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #30bb64;
}
.accordionTitle:before,
.accordion__Heading:before {
  content: '+';
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  transition: transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #2ba659;
}
.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #2ba659;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  transform: rotate(-225deg);
}
.accordionItem {
  height: auto;
  overflow: hidden;
  transition: max-height 1s;
}
@media screen and (min-width: 48em) {
  .accordionItem {
    transition: max-height 0.5s;
  }
}
.accordionItem.is-collapsed {
  max-height: 0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
  animation: accordionIn 0.45s normal ease-in-out both 1;
}
.animateOut {
  animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}
li {
  margin-bottom: 2.8em;
}

dd {
  margin-inline-start: 0.5em !important;
}

/* DIALOG NOVI */

h1,
h2,
h3 {
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}
/**
 * Material Modal CSS
 */
.modal {
  will-change: visibility, opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal--active {
  visibility: visible;
  opacity: 1;
}

.modal--align-top {
  align-items: flex-start;
}

.modal__bg {
  background: transparent;
}

.modal__dialog {
  max-width: 600px;
  padding: 1.2rem;
}

.modal__content {
  will-change: transform, opacity;
  position: relative;
  padding: 2.4rem;
  background: #ffebee;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__content--active {
  opacity: 1;
}

.modal__close {
  z-index: 1100;
  cursor: pointer;
}

.modal__trigger {
  position: relative;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1;
  cursor: pointer;
  background: #ffebee;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__trigger--active {
  z-index: 10;
}

.modal__trigger:hover {
  background: #e5d3d6;
}

#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffebee;
  transform: none;
  opacity: 1;
  transition: opacity 0.1s ease-out,
    transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
/**
 * Demo specific CSS
 */

img {
  max-width: 100%;
}

.demo-btns header {
  padding: 7vh 10vw;
  background: #ffebee;
  display: flex;
  align-items: center;
}

.demo-btns header h1 {
  margin: 0;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 300;
}

.demo-btns .info {
  background: #f44336;
  padding: 3vh 10vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.demo-btns p {
  text-align: center;
  color: #fff;
}

.demo-btns .link {
  font-size: 20px;
}

.demo-btns .modal__trigger {
  margin-right: 3px;
}

@media (max-width: 640px) {
  .demo-btns .modal__trigger {
    margin-bottom: 0.8rem;
  }
}

.demo-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  padding: 0.6rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-close svg {
  width: 24px;
  fill: #fff;
  pointer-events: none;
  vertical-align: top;
}

.demo-close:hover {
  background: rgba(0, 0, 0, 0.6);
}

.logo {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 2;
}

.logo img {
  width: 45px;
  transform: rotate(0);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.logo img:hover {
  transform: rotate(180deg) scale(1.1);
}
